@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #d14841 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #d14841;
  border-color: #d14841;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #9f2c26;
  border-color: #9f2c26;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #9f2c26 !important;
  border-color: #9f2c26 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #8a2722;
  color: #8a2722;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #d14841;
  border-color: #d14841;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d14841 !important;
  border-color: #d14841 !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #d14841 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #d14841;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f9e6e5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-b .navbar-toggler {
  color: #ffffff;
}
#menu-b .close-icon::before,
#menu-b .close-icon::after {
  background-color: #ffffff;
}
#menu-b .link,
#menu-b .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-b .link {
  font-size: 1.75rem;
}
#menu-b .dropdown-item,
#menu-b .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-b .link:hover,
#menu-b .dropdown-item:hover,
#menu-b .link:focus,
#menu-b .dropdown-item:focus {
  color: #c0a375;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-menu {
  background: #b3b3b3;
}
#menu-b .nav-dropdown-sm .link:focus,
#menu-b .nav-dropdown-sm .link:hover,
#menu-b .nav-dropdown-sm .dropdown-item:focus,
#menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-b .navbar,
#menu-b .nav-dropdown-sm,
#menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b .bg-color.transparent.opened .link:hover,
#menu-b .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-b A {
  font-size: 10px;
}
#menu-b .btn {
  font-size: 13px;
}
#contacts2-y STRONG {
  font-size: 24px;
}
#contacts2-y P {
  font-size: 20px;
}

#msg-box2-h .mbr-section-title {
  color: #fff;
}
#msg-box2-h .mbr-section-subtitle {
  color: #000000;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-d .link {
  font-size: 0.6rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #c0a375;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #b3b3b3;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-d A {
  font-size: 10px;
}
#menu-d .btn {
  font-size: 13px;
}
#msg-box2-i .mbr-section-title {
  color: #fff;
}
#msg-box2-i .mbr-section-subtitle {
  color: #a0a0a0;
}
#features1-j .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-l .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box2-m .mbr-section-title {
  color: #fff;
}
#msg-box2-m .mbr-section-subtitle {
  color: #a0a0a0;
}
#features1-o .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #f7da64;
}
#features1-p .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #f7da64;
}
#header3-u .mbr-section-title,
#header3-u .mbr-section-subtitle {
  text-align: center;
}
#msg-box2-x .mbr-section-title {
  color: #fff;
}
#msg-box2-x .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts2-y STRONG {
  font-size: 24px;
}
#contacts2-y P {
  font-size: 20px;
}
#contacts3-z SPAN {
  text-align: left;
}

#msg-box2-1n .mbr-section-title {
  color: #fff;
}
#msg-box2-1n .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-1p .btn {
  font-size: 23px;
}
#msg-box1-1p H2 {
  color: #000000;
}
#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-1q .navbar-toggler {
  color: #ffffff;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #ffffff;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-1q .link {
  font-size: 1.75rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #b3b3b3;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-1q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1q A {
  font-size: 10px;
}
#menu-1q .btn {
  font-size: 13px;
}
#contacts3-1r SPAN {
  text-align: left;
}

#msg-box2-1s .mbr-section-title {
  color: #fff;
}
#msg-box2-1s .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-1u .btn {
  font-size: 23px;
}
#msg-box1-1u H2 {
  color: #000000;
}
#menu-1v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1v .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-1v .navbar-toggler {
  color: #ffffff;
}
#menu-1v .close-icon::before,
#menu-1v .close-icon::after {
  background-color: #ffffff;
}
#menu-1v .link,
#menu-1v .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-1v .link {
  font-size: 1.75rem;
}
#menu-1v .dropdown-item,
#menu-1v .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-1v .link:hover,
#menu-1v .dropdown-item:hover,
#menu-1v .link:focus,
#menu-1v .dropdown-item:focus {
  color: #c0a375;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-menu {
  background: #b3b3b3;
}
#menu-1v .nav-dropdown-sm .link:focus,
#menu-1v .nav-dropdown-sm .link:hover,
#menu-1v .nav-dropdown-sm .dropdown-item:focus,
#menu-1v .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-1v .navbar,
#menu-1v .nav-dropdown-sm,
#menu-1v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1v .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-1v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1v .bg-color.transparent.opened .link:hover,
#menu-1v .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1v A {
  font-size: 10px;
}
#menu-1v .btn {
  font-size: 13px;
}
#contacts3-1w SPAN {
  text-align: left;
}

#msg-box2-1x .mbr-section-title {
  color: #fff;
}
#msg-box2-1x .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-1z .btn {
  font-size: 23px;
}
#msg-box1-1z H2 {
  color: #000000;
}
#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-20 .link {
  font-size: 1.75rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #b3b3b3;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-20 A {
  font-size: 10px;
}
#menu-20 .btn {
  font-size: 13px;
}
#contacts3-21 SPAN {
  text-align: left;
}

#msg-box2-22 .mbr-section-title {
  color: #fff;
}
#msg-box2-22 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-24 .btn {
  font-size: 23px;
}
#msg-box1-24 H2 {
  color: #000000;
}
#menu-25 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-25 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-25 .navbar-toggler {
  color: #ffffff;
}
#menu-25 .close-icon::before,
#menu-25 .close-icon::after {
  background-color: #ffffff;
}
#menu-25 .link,
#menu-25 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-25 .link {
  font-size: 1.75rem;
}
#menu-25 .dropdown-item,
#menu-25 .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-25 .link:hover,
#menu-25 .dropdown-item:hover,
#menu-25 .link:focus,
#menu-25 .dropdown-item:focus {
  color: #c0a375;
}
#menu-25 .link[aria-expanded="true"],
#menu-25 .dropdown-menu {
  background: #b3b3b3;
}
#menu-25 .nav-dropdown-sm .link:focus,
#menu-25 .nav-dropdown-sm .link:hover,
#menu-25 .nav-dropdown-sm .dropdown-item:focus,
#menu-25 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-25 .navbar,
#menu-25 .nav-dropdown-sm,
#menu-25 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-25 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-25 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-25 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-25 .bg-color.transparent.opened .link:hover,
#menu-25 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-25 .link[aria-expanded="true"],
#menu-25 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-25 A {
  font-size: 10px;
}
#menu-25 .btn {
  font-size: 13px;
}
#contacts3-26 SPAN {
  text-align: left;
}

#msg-box2-2h .mbr-section-title {
  color: #fff;
}
#msg-box2-2h .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-2j .btn {
  font-size: 23px;
}
#msg-box1-2j H2 {
  color: #000000;
}
#menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2k .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-2k .navbar-toggler {
  color: #ffffff;
}
#menu-2k .close-icon::before,
#menu-2k .close-icon::after {
  background-color: #ffffff;
}
#menu-2k .link,
#menu-2k .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-2k .link {
  font-size: 1.75rem;
}
#menu-2k .dropdown-item,
#menu-2k .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-2k .link:hover,
#menu-2k .dropdown-item:hover,
#menu-2k .link:focus,
#menu-2k .dropdown-item:focus {
  color: #c0a375;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-menu {
  background: #b3b3b3;
}
#menu-2k .nav-dropdown-sm .link:focus,
#menu-2k .nav-dropdown-sm .link:hover,
#menu-2k .nav-dropdown-sm .dropdown-item:focus,
#menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-2k .navbar,
#menu-2k .nav-dropdown-sm,
#menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-2k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2k .bg-color.transparent.opened .link:hover,
#menu-2k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2k A {
  font-size: 10px;
}
#menu-2k .btn {
  font-size: 13px;
}
#contacts3-2l SPAN {
  text-align: left;
}

#msg-box2-14 .mbr-section-title {
  color: #fff;
}
#msg-box2-14 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-1b .btn {
  font-size: 23px;
}
#msg-box1-1b H2 {
  color: #000000;
}
#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .close-icon::before,
#menu-10 .close-icon::after {
  background-color: #ffffff;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-10 .link {
  font-size: 1.75rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #b3b3b3;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-10 A {
  font-size: 10px;
}
#menu-10 .btn {
  font-size: 13px;
}
#contacts3-12 SPAN {
  text-align: left;
}

#menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1c .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-1c .navbar-toggler {
  color: #ffffff;
}
#menu-1c .close-icon::before,
#menu-1c .close-icon::after {
  background-color: #ffffff;
}
#menu-1c .link,
#menu-1c .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-1c .link {
  font-size: 1.75rem;
}
#menu-1c .dropdown-item,
#menu-1c .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-1c .link:hover,
#menu-1c .dropdown-item:hover,
#menu-1c .link:focus,
#menu-1c .dropdown-item:focus {
  color: #c0a375;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-menu {
  background: #b3b3b3;
}
#menu-1c .nav-dropdown-sm .link:focus,
#menu-1c .nav-dropdown-sm .link:hover,
#menu-1c .nav-dropdown-sm .dropdown-item:focus,
#menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-1c .navbar,
#menu-1c .nav-dropdown-sm,
#menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-1c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1c .bg-color.transparent.opened .link:hover,
#menu-1c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1c A {
  font-size: 10px;
}
#menu-1c .btn {
  font-size: 13px;
}
#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#contacts2-1d STRONG {
  font-size: 24px;
}
#contacts2-1d P {
  font-size: 20px;
}
#contacts3-1e SPAN {
  text-align: left;
}

#msg-box2-27 .mbr-section-title {
  color: #fff;
}
#msg-box2-27 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-29 .btn {
  font-size: 23px;
}
#msg-box1-29 H2 {
  color: #000000;
}
#menu-2a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2a .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-2a .navbar-toggler {
  color: #ffffff;
}
#menu-2a .close-icon::before,
#menu-2a .close-icon::after {
  background-color: #ffffff;
}
#menu-2a .link,
#menu-2a .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-2a .link {
  font-size: 1.75rem;
}
#menu-2a .dropdown-item,
#menu-2a .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-2a .link:hover,
#menu-2a .dropdown-item:hover,
#menu-2a .link:focus,
#menu-2a .dropdown-item:focus {
  color: #c0a375;
}
#menu-2a .link[aria-expanded="true"],
#menu-2a .dropdown-menu {
  background: #b3b3b3;
}
#menu-2a .nav-dropdown-sm .link:focus,
#menu-2a .nav-dropdown-sm .link:hover,
#menu-2a .nav-dropdown-sm .dropdown-item:focus,
#menu-2a .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-2a .navbar,
#menu-2a .nav-dropdown-sm,
#menu-2a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2a .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-2a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2a .bg-color.transparent.opened .link:hover,
#menu-2a .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2a .link[aria-expanded="true"],
#menu-2a .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2a A {
  font-size: 10px;
}
#menu-2a .btn {
  font-size: 13px;
}
#contacts3-2b SPAN {
  text-align: left;
}

#msg-box2-2c .mbr-section-title {
  color: #fff;
}
#msg-box2-2c .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box1-2e .btn {
  font-size: 23px;
}
#msg-box1-2e H2 {
  color: #000000;
}
#menu-2f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2f .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-2f .navbar-toggler {
  color: #ffffff;
}
#menu-2f .close-icon::before,
#menu-2f .close-icon::after {
  background-color: #ffffff;
}
#menu-2f .link,
#menu-2f .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-2f .link {
  font-size: 1.75rem;
}
#menu-2f .dropdown-item,
#menu-2f .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-2f .link:hover,
#menu-2f .dropdown-item:hover,
#menu-2f .link:focus,
#menu-2f .dropdown-item:focus {
  color: #c0a375;
}
#menu-2f .link[aria-expanded="true"],
#menu-2f .dropdown-menu {
  background: #b3b3b3;
}
#menu-2f .nav-dropdown-sm .link:focus,
#menu-2f .nav-dropdown-sm .link:hover,
#menu-2f .nav-dropdown-sm .dropdown-item:focus,
#menu-2f .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-2f .navbar,
#menu-2f .nav-dropdown-sm,
#menu-2f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2f .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-2f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2f .bg-color.transparent.opened .link:hover,
#menu-2f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2f .link[aria-expanded="true"],
#menu-2f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2f A {
  font-size: 10px;
}
#menu-2f .btn {
  font-size: 13px;
}
#contacts3-2g SPAN {
  text-align: left;
}

#menu-2p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2p .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-2p .navbar-toggler {
  color: #ffffff;
}
#menu-2p .close-icon::before,
#menu-2p .close-icon::after {
  background-color: #ffffff;
}
#menu-2p .link,
#menu-2p .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-2p .link {
  font-size: 1.75rem;
}
#menu-2p .dropdown-item,
#menu-2p .nav-dropdown-sm .link {
  font-size: 1.895rem;
}
#menu-2p .link:hover,
#menu-2p .dropdown-item:hover,
#menu-2p .link:focus,
#menu-2p .dropdown-item:focus {
  color: #c0a375;
}
#menu-2p .link[aria-expanded="true"],
#menu-2p .dropdown-menu {
  background: #b3b3b3;
}
#menu-2p .nav-dropdown-sm .link:focus,
#menu-2p .nav-dropdown-sm .link:hover,
#menu-2p .nav-dropdown-sm .dropdown-item:focus,
#menu-2p .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-2p .navbar,
#menu-2p .nav-dropdown-sm,
#menu-2p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2p .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-2p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2p .bg-color.transparent.opened .link:hover,
#menu-2p .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2p .link[aria-expanded="true"],
#menu-2p .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2p A {
  font-size: 10px;
}
#menu-2p .btn {
  font-size: 13px;
}
#contacts2-2q STRONG {
  font-size: 24px;
}
#contacts2-2q P {
  font-size: 20px;
}
